.v {
  &-card {
    &-container {
      width: 350px;
      background-color: var(--v-background-base);
      border-radius: 20px;
      padding: 20px 20px 10px;
      box-shadow: 3px 3px 7px 0px #17171b40;

      &-card {
        width: 100%;
        height: 166px;
        padding: 0 11px;
        margin-bottom: 20px;
      }
      &-info {
        line-height: normal;
        &_item {
          display: flex;
          justify-content: space-between;
          span {
            font-size: 14px;
          }
        }
        &_item + &_item {
          margin-top: 10px;
        }
      }
      &-actions {
        display: flex;
        justify-content: flex-end;
        button {
          min-width: 44px !important;
          padding: 0 !important;
          border-radius: 10px !important;
        }
        &_item {
        }
        &_item + &_item {
          margin-left: 10px;
        }
      }
    }
  }
}

::v-deep .v-list {
  padding: 8px 5px !important;
  .v-list-item {
    padding: 0 !important;
    min-height: 38px !important;
    button {
      padding: 0 12px !important;
      height: 38px !important;
      width: 100% !important;
      justify-content: flex-start !important;
    }
    .v-icon {
      margin-right: 10px;
    }
    span {
      color: var(--v-base-textDefault) !important;
    }
  }
}
