.col-btn {
  cursor: pointer;
}

.form-btn {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 24px;
  font-weight: 600;
}

.form-btn--remove {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.form-btn--add {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
