@keyframes disappearanceLink{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appearanceLink{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-nav-element {
  > {
    .v-list-group__header {
      display   : none;
    }
  }
}

v-list {
  @include custom-scroll-bar-vertical;
}

.avatar {
  height: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
  margin: 10px !important;
  transition: all .5s ease;
}

.avatar--collapse {
  height: 30px !important;
  min-width: 30px !important;
  width: 30px !important;
  margin: 0 !important;
  transition: all .5s ease;
}

.v-expansion-panel {
  margin  : 0 !important;

  &::before {
    box-shadow: none !important;
  }
  &:before {
    box-shadow: none !important;
  }

  &[aria-expanded="true"] {
    button {
      color       : $accent-blue;
      font-weight : 700;
      span {
        color     : $accent-blue;
      }
      div {
        i {
          color   : $accent-blue !important;
        }
      }
    }
  }
  
  a {
    cursor  : pointer;
    outline : none;
    text-decoration: none;
    color: $black !important;
  }

  button {
    &:hover {
      color       : $accent-blue;
      font-weight : 700;
      opacity     : .8;

      span {
        color     : $accent-blue;
      }
      div {
        i {
          color   : $accent-blue !important;
        }
      }
    }
  }
}

.link__btn {
  padding: 16px 24px !important;
  &--collapse {
    padding: 16px 10px !important;
  }
}

.v-expansion-panel-header {
  padding       : 11px 12px;
  font-weight   : 500;
  > span {
    display     : block;
    max-width   : 20px;
    margin-right: 10px;
  }
}

.v-expansion-panel--active{
  border-radius : 0px !important;
  margin        : 0 !important;
}

.header-navbar {
  display         : flex !important;
  align-items     : center;
  justify-content : center;
  padding         : 20px 14px 43px 14px !important;
    > div {
      width       : 50px;
      display     : contents;
      padding     : 0;
    }
}


// scroll navmenu

.v-navigation-drawer__content {
  @include custom-scroll-bar-vertical;
}

.v-navigation-drawer {
  height    : calc(100% - 170px) !important;
}

.nav-fio {
  text-wrap : wrap;
  animation: appearanceLink .3s forwards !important;

  &--collapse {
    text-wrap : wrap;
    animation: disappearanceLink .3s forwards !important;
  }
}

.v-expansion-panel-header {
  padding   : 0 10px;
}

.navbar-card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  z-index   : $navbar-z;
  width     : 256px;
  transition: all 1s ease !important;

  &--collapse {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    z-index   : $navbar-z;
    width   : 40px;
    transition: all 1s ease !important;
  }
}

.v-expansion-panel-content__wrap, .v-list-item  {
  padding: 0 !important;
  a {
    padding :  0  !important;
    cursor  : pointer;
    outline : none;
    text-decoration: none;
    color: $black !important;
    .navlink__item {
      padding : 5px 35px !important;
      margin  : 0 !important;
    }
  }

  .router-link-exact-active.active {
    color: $accent-blue !important;
    font-weight: 700;
  }
  &:hover {
    color       : $accent-blue;
    opacity     : .6;
    font-weight : 600;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 24px;
  .icon__navlink {

  }
  .name__navlink {
    color: $black;
    font-size: 15px;
    font-weight: 500;
    text-wrap : wrap;
    animation: appearanceLink .3s forwards !important;

    &--collapse {
      text-wrap : wrap;
      animation: disappearanceLink .3s forwards !important;
    }
  }

  &--collapse {
    padding: 16px 10px !important;
  }

  &:hover {
    color       : $accent-blue;
    font-weight : 700;
    opacity     : .8;

    .icon__navlink {
      span {
        color     : $accent-blue;
      }
    }
    .name__navlink {
      color   : $accent-blue !important;
      display: block;
      &--collapse {
        display: none !important;
      }
    } 
  }
}


.name__navlink--collapse {
  display: none !important;
}

//открытие закрытие меню на мобилке
.mobile-menu__window {
  &--close {
    transform : translateX(-100%);
    position  : absolute;
    z-index   : $navbar-mobile-z;
    opacity   : 0;
    transition: transform .7s ease-in, opacity .4s ease-in;
  }

  &--open {
    transform : translateX(0%);
    position  : absolute;
    z-index   : $navbar-mobile-z;
    opacity   : 1;
    transition: transform .7s ease-out, opacity .7s ease-out;
  }
}

.expand-enter-active, .expand-leave-active {
  transition-property: width;
  transition-duration: 5s;
}

.expand-leave-to {
  width: 256px;
}

.expand-enter{
  width: 40px;
}

.btn-menu{
  &__collapse {
    font-size: 12px !important; 
    padding: 0 !important;
  }
  &--collapse {
    font-size: 12px !important; 
    padding: 0 !important;
    min-width: 40px !important;
  }
}

.theme--dark.v-expansion-panels .v-expansion-panel {
  background-color: #252525 !important;
  color: #fff;
}

.v-btn.theme--light {
  .v-btn__content {
    .text-collaspe__navbar {
      color: $dark-blue-text !important;
    }
  }
}

.v-btn.theme--dark {
  .v-btn__content {
    .text-collaspe__navbar {
      color: $white !important;
    }
  }
}

.v-item-group.theme--dark {
  .v-expansion-panel {
    a {
      .nav-link {
        .name__navlink {
          color: $white;
        }
      }
    }
  }
}

.v-item-group.theme--light {
  .v-expansion-panel {
    a {
      .nav-link {
        .name__navlink {
          color: $dark-blue-text;
        }
      }
    }
  }
}

.navmenu__navlinks {
    opacity: 1;
    transition: all .5s ease;
  &--collapse {
    opacity: 0;
    transition: all .5s ease;
  }
}