.v {
  &-object {
    &-item {
      &:last-child {
        margin-bottom: 10px;
      }
      &-person {
        display: flex;
        justify-content: space-between;
        padding: 7px 8px 7px 4px;
        font-size: 14px;
        font-weight: 600;
        box-sizing: content-box;
        border: 1px solid transparent;
        &_btn {
          opacity: 0;
        }
        &:nth-child(odd) {
          background-color: var(--v-pageBackground-base);
        }
        &:hover {
          border-top: 1px solid var(--v-primary-base);
          border-bottom: 1px solid var(--v-primary-base);
          button {
            opacity: 1;
          }
        }
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &-edit {
        &_coef {
          min-width: 46px;
          flex: 0;
          &::v-deep .v-input__control {
            .v-input__slot {
              min-height: 32px;
              border: 1px solid var(--v-disabled-base) !important;
              margin: 0 !important;
              box-shadow: none !important;
              padding: 0 6px !important;
              .v-text-field__slot {
                input {
                  color: var(--v-text-base) !important;
                  font-weight: 600;
                  text-align: center;
                }
                label {
                  color: var(--v-gray-base) !important;
                }
              }
            }
          }
        }
        &_select {
          &::v-deep .v-input {
            margin: 0 !important;
            padding: 0 !important;
            .v-input__slot {
              margin: 0;
            }
          }

          &::v-deep .v-input__control {
            min-height: 32px;
            .v-input__slot {
              margin: 0 !important;
              border: 1px solid var(--v-disabled-base) !important;
              box-shadow: none !important;
              .v-text-field__slot {
                input {
                  color: var(--v-text-base) !important;
                }
                label {
                  color: var(--v-gray-base) !important;
                }
              }
            }
          }
        }
      }
    }
    &-methods {
      &::v-deep .v-input__control {
        // min-height: 32px;
        width: 100px;
        .v-input__slot {
          min-height: 32px;
          border: 1px solid var(--v-disabled-base) !important;
          margin: 0 !important;
          box-shadow: none !important;
          padding: 0 6px !important;
          .v-text-field__slot {
            input {
              color: var(--v-text-base) !important;
              font-weight: 600;
              text-align: center;
            }
            label {
              color: var(--v-gray-base) !important;
            }
          }
        }
      }
    }
  }
}

.v-expansion-panel {
  margin: 0 !important;
  border-radius: 0 !important;
  &::before {
    box-shadow: none !important;
  }
  &:not(:first-child)::after {
    opacity: 1 !important;
  }
  &::v-deep .v-expansion-panel-content__wrap {
    padding: 0 !important;
  }
  .v-expansion-panel-header {
    min-height: 48px !important;
    padding: 7px 0;
    color: var(--v-text-base);
    font-weight: 600;
    .v-btn--icon {
      flex: none !important;
    }
  }
  .row + .row {
    margin-top: 6px;
  }
}
