.v {
    &-files {
        display: flex;
        align-items: center;
        &_item {
            width: 31px;
            height: 31px;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
            }
            &-unregistered {
                // text-transform: uppercase;
                width: 28px;
                height: 100%;
                color: var(--v-background-base);
                background-color: var(--v-text-base);
                font-weight: 600;
                font-size: 16px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__hidden {
                display: none;
            }
        }
        &_additional-item {
            width: 27px;
            height: 27px;
            margin-left: 10px;
            border-radius: 50%;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--v-background-base);
            background-color: var(--v-disabled-base);
        }
    }
}