.v-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-files_tooltip {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-files_item {
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v-files_item img {
  width: 100%;
  height: 100%;
}

.v-files_item-unregistered {
  width: 28px;
  height: 100%;
  color: var(--v-background-base);
  background-color: var(--v-text-base);
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v-files_item__hidden {
  display: none;
}

.v-files_additional-item {
  width: 27px;
  height: 27px;
  margin-left: 10px;
  border-radius: 50%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--v-background-base);
  background-color: var(--v-disabled-base);
}
