$groupWidth: calc(100vw - 256px - 214px - 16px - 16px - 22px);
$containerHeight: calc(100vh - 50px - 72px);

.v {
    &-mails {
        flex-grow: 1;
        overflow: hidden;
        padding: 15px 26px 0 16px;
        background-color: var(--v-pageBackground-base);
        position: relative;
        &-group {
            width: $groupWidth;
            flex: 1;
            height: 100%;
            overflow: hidden;
            &-container {
                height: $containerHeight;
            }
        }
    }
}