$groupWidth: calc(100vw - 256px - 214px - 16px - 16px - 22px);
$containerHeight: calc(100vh - 50px - 64px);

.v {
    &-mails {
        flex-grow: 1;
        // overflow: hidden;
        // padding: 5px 16px -10px 6px;
        background-color: var(--v-pageBackground-base);
        position: relative;
        &-group {
            width: $groupWidth;
            flex: 1;
            height: 100%;
            overflow: hidden;
            &-container {
                height: $containerHeight;
            }
        }
    }
}