.form-row {
  color: black;
}
.accountName {
}
.accountName {
  position: relative;
  &-tooltip {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 0%);
    right: 0;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
