.form-row {
  color: black;
}

.form {
  position: relative;
}

.form-tooltip {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(65%, 0%);
          transform: translate(65%, 0%);
  right: 0;
}

.form:not(:last-child) {
  margin-bottom: 10px;
}
