.v {
  &-scene {
    width: 100%;
    height: 100%;
    display: inline-block;
    perspective: 400px;
  }
  &-card {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: solid 1px;
    box-shadow: 0px 4px 4px 0px #00000040;

    perspective: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    will-change: transform;
    &-side {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      &__back {
        transform: rotateY(180deg);
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
      }
      &__front {
        padding: 10px 20px 16px;
      }
      &_upper {
        width: 100%;
        padding: 11px 14px 0;
        display: flex;
        justify-content: flex-end;
      }
      &_number {
        font-weight: 600;
        font-size: 14px;
      }
      &_name {
        font-weight: 600;
        font-size: 14px;
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &_validity {
        font-weight: 500;
        font-size: 12px;
        margin-left: auto;
      }
      &_magnetic {
        width: 100%;
        height: 24px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      &_image {
        height: 35px;
        min-width: 130px;
        margin-top: 10px;
      }
      &-actions {
        height: fit-content;
        &-menu {
          width: 240px;
          background-color: var(--v-cardBackground-base);
          box-shadow: 0px 0px 4px 0px #00000040;
          border-radius: 10px;
          padding: 16px 20px;
          &_comment {
            background-color: var(--v-gradient2-base);
            padding: 10px;
            color: var(--v-textDefault-base);
            border-radius: 10px;
            border: var(--v-textGray-base) solid 1px;
          }
        }
      }
      &-backInfo {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 20px 0;
        &_signature {
          height: 24px;
          width: 100px;
          background-color: #d6dbe2;
          margin-right: 10px;
        }
        &_cvv {
          font-weight: 500;
          font-size: 12px;
        }
        &_image {
          height: 22px;
        }
      }
    }
    &__flipped {
      transform: translateX(-100%) rotateY(-180deg);
    }
    &__default {
      background-color: var(--v-pageBackground-base);
      border-color: transparent;
    }
  }
}
img {
  height: 100%;
}

.gradient {
  @include gradient;
}
