.v {
    &-upper {
        height: 53px;
        width: 100%;
        display: flex;
        &-user {
            margin-top: auto;
            &_image {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            &-content {
                display: flex;
                margin-left: 4px;
                flex-direction: column;
                &_name {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--v-text-base);
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &_email {
                    font-size: 11px;
                    font-weight: 500;
                    color: var(--v-disabled-base);
                    max-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        &-container {
            margin: 20px 12px 0 8px;
            &-viewed {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: var(--v-primary-base);
            }
        }
        &__wide {
            height: 100%;
            .v-upper-user {
                margin: 0;
                display: flex;
                align-items: center;
                &_image {
                    width: 22px;
                    height: 22px;
                }
                &-content {
                    display: none;
                }
            }
            .v-upper-container{
                margin: 0 9px;
                display: flex;
                align-items: center;
            }
        }
    }
}