
.v {
  &-toolbar__content {
    height: 100% !important;
    padding: 0 26px !important;
    display: flex;
    position: relative;
  }
  &-badge {
    margin: 0 12px 0 auto !important;
    display: block;
  }
  &-topbar {
    &_title {
      font-size: 18px;
      font-weight: 500;
      color: var(--v-text-base);
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &-menu {
      // background: aqua;
      .v-btn__content {
        position: relative;
        width: 100%;
        height: 100%;
        .line {
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: #FFFFFF;
    
          &:first-child {
            top: 15px;
            transform: rotate(0deg);
            transition: all .3s ease;
          }
          &:last-child {
            top: 23px;
            transform: rotate(0deg);
            transition: all .3s ease;
          }
        }
      }  
      &[aria-expanded="true"] {
        .v-btn__content {
          .line {
            &:first-child {
              top: 50%;
              transform: rotate(45deg);
              transition: all .3s ease;
            }
            &:last-child {
              top: 50%;
              transform: rotate(-45deg);
              transition: all .3s ease;
            }
          }
        }
      }
    }
  }
}

header.v-toolbar {
  box-shadow: none !important;
}
