.v {
    &-edit {
        display: flex;
        flex-direction: column;
        flex: 1;
        &-item {
            display: flex;
            width: 100%;
            padding-right: 50px;
            // align-items: center;
            &_title {
                width: 32px;
                color: var(--v-secondary-base);
                font-size: 12px;
                margin-right: 10px;
            }
            &-input {
                flex: 1;
                &_name {    
                    color: var(--v-text-base);
                    font-weight: 500;
                }
                &_mail {
                    color: var(--v-secondary-base);
                    font-weight: 400;
                }
                .v-chip {
                    border: none;
                }
                .v-input {
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &-item+&-item {
            margin-top: 8px;
        }
    }
}
