.v {
    &-controls {
        height: 35px;
        width: 100%;
        background-color: var(--v-background-base);
        box-shadow: 0px 4px 10px 0px #0000001A;
        border-radius: 5px;
        &-list {
            display: flex;

            &_item {
                padding: 0 11px;
                height: 35px;
                &::v-deep .v-btn__content {
                    opacity: 1 !important;
                }
                span {
                    font-size: 12px  !important;
                }
                &__input {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    &::v-deep .v-input__slot {
                        margin:0 !important;
                    }
                    &::v-deep .v-input--selection-controls__input {
                        margin:0 !important;
                    }
                    &::v-deep .v-messages {
                        display: none;
                    }
                }
            }
            &_menu {
                max-height: 250px;
                width: 100px;
                transform: translateY(35px);
                @include custom-scroll-bar-vertical;
                box-shadow: 1px 1px 4px 0px #00000040;
                &-item {
                    opacity: 1;
                    min-height: 17px;
                    margin: 0 5px;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 500 !important;
                    color: var(--v-text-base) !important;
                    display: flex;
                    justify-content: center;
                    word-break: break-word;
                    text-align: center;
                    padding: 0;
                    &:not(:last-child) {
                        border-bottom: solid 1px var(--v-disabled-base);
                    }
                    &:hover {
                        background: #F2F9FF;
                        font-weight: 500 !important;
                    }
                    &__active {
                        background: #F2F9FF;
                    }
                }
            }
            &_tags {
                // height: 150px;
                width: 50px;
                transform: translateY(35px);
                box-shadow: 1px 1px 4px 0px #00000040;
                &-item {
                    cursor: pointer;
                    opacity: 1;
                    padding: 0;
                    display: flex;
                    min-height: 20px;
                    padding: 0 4px;
                    color: var(--v-text-base) !important;
                    font-weight: 500 !important;
                    font-size: 11px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &-tag {
                        border-radius: 4.5px;
                        transition: all 0.3s;
                        min-height: 9px;
                        width: 9px;
                        margin-right: auto;
                        &__active {
                            width: 26px;
                        }
                    }
                    &:hover {
                        font-weight: 500 !important;
                    }
                }
                &-item+&-item {
                    margin-top: 6px;
                }
            }
        }
        &-popup {
            background-color: var(--v-background-base);
            border-radius: 10px;
            padding: 20px 30px;
            &_title {
                color: var(--v-text-base);
                font-size: 20px;
                font-weight: 500;
            }
            &_subtitle {
                font-size: 10px;
                color: #222222;
            }
            &::v-deep .v-select__selections {
                flex-wrap: wrap !important;
            }
            &-item {
                &__cutted {
                    &::v-deep .v-chip__content {
                        margin-right: 18px;
                        overflow: hidden;
                    }
                    &::v-deep .v-chip__close {
                        position: absolute;
                        right: 12px;
                    }
                }
            }
        }
    }
}