.v {
    &-controls {
        height: 35px;
        // width: calc(100vw - 256px - 214px - 16px - 16px - 22px);
        // padding-right: 22px;
        width: 100%;
        background-color: var(--v-background-base);
        box-shadow: 0px 4px 10px 0px #0000001A;
        border-radius: 5px;
        // overflow: hidden;
        // margin-bottom: 9px;
        &-list {
            display: flex;

            &_item {
                padding: 0 11px;
                height: 35px;
                &::v-deep .v-btn__content {
                    opacity: 1 !important;
                }
                span {
                    font-size: 12px  !important;
                }
                &__input {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    &::v-deep .v-input__slot {
                        margin:0 !important;
                    }
                    &::v-deep .v-input--selection-controls__input {
                        margin:0 !important;
                    }
                    &::v-deep .v-messages {
                        display: none;
                    }
                }
            }
            &_menu {
                height: 250px;
                width: 100px;
                transform: translateY(35px);
                box-shadow: 1px 1px 4px 0px #00000040;
                // :global(.v-menu__content) {
                // }
                &-item {
                    opacity: 1;
                    min-height: 17px;
                    margin: 0 5px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--v-text-base) !important;
                    display: flex;
                    justify-content: center;
                    word-break: break-word;
                    text-align: center;
                    &:not(:last-child) {
                        border-bottom: solid 1px var(--v-disabled-base);
                    }
                    &:hover {
                        background: #F2F9FF;
                    }
                    &__active {
                        background: #F2F9FF;
                    }
                }
            }
            &_tags {
                // height: 150px;
                width: 50px;
                transform: translateY(35px);
                box-shadow: 1px 1px 4px 0px #00000040;
                &-item {
                    cursor: pointer;
                    opacity: 1;
                    min-height: 9px;
                    width: 9px;
                    margin: 0 4px;
                    // height: 9px;
                    border-radius: 4.5px;
                    transition: all 0.3s;
                    &__active {
                        width: 26px;
                    }
                }
                &-item+&-item {
                    margin-top: 6px;
                }
            }
        }
        &-popup {
            &_title {
                color: var(--v-text-base);
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}