.v {
    &-filters {
        height: calc(100% - 19px);
        width: 214px;
        background-color: var(--v-background-base);
        box-shadow: 0px 4px 10px 0px #0000001A;
        border-radius: 5px;
        // margin-bottom: 19px;
        &-date {
            font-size: 30px;
        }
        &-mail-types-list {
            width: 100%;
            &_item {
                cursor: pointer;
                color: var(--v-text-base);
                font-size: 12px;
                span {
                    color: var(--v-disabled-base) !important;
                }
                &__active {
                    color: var(--v-primary-base);
                    span {
                        color: var(--v-primary-base) !important;
                    }
                }
                &:hover {
                    color: var(--v-primary-base);
                    span {
                        color: var(--v-primary-base) !important;
                    }
                }
            }
            &_item + &_item {
                margin-top: 10px;
            }
        }
        &-expansion{
            overflow-y: auto;
            @include custom-scroll-bar-vertical;
            width: 100%;
            margin-bottom: 5px;
            &-folder {
                &-title {
                    color: var(--v-text-base);
                    font-size: 12px;
                    padding: 0 16px;
                    min-height: 32px !important;
                    font-weight: 500 !important;
                    opacity: 1 !important;
                }
                &-container {
                    opacity: 1 !important;
                    &::v-deep .v-expansion-panel-content__wrap {
                        opacity: 1 !important;
                    }
                    .v-expansion-panel-content__wrap {
                        opacity: 1 !important;
                    }
                    &_item {
                        display: flex;
                        align-items: center;
                        color: var(--v-text-base);
                        font-size: 12px;
                        padding: 0 16px;
                        cursor: pointer;
                        font-weight: 500 !important;
                        &:hover {
                            color: var(--v-primary-base);
                            span {
                                color: var(--v-primary-base);
                            }
                        }
                        &__disabled {
                            color: var(--v-disabled-base);
                            span {
                                color: var(--v-disabled-base);
                            }
                        }
                        &__active {
                            color: var(--v-primary-base);
                        }
                    }
                    &_item + &_item {
                        margin-top: 4px;
                    }
                    &_text {
                        flex: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        &-color {
            width: 100%;
            display: flex;
            min-height: 26px;
            justify-content: space-around;
            padding: 0 7px;
            margin-top: auto;
            align-items: flex-end;
            &_item {
                margin-top: 5px;
                width: 9px;
                height: 9px;
                border-radius: 4.5px;
                transition: all 0.3s;
                cursor: pointer;
                &__active {
                    height: 26px;
                }
            }
        }
        &-bottom {
            width: 100%;
            padding: 0 4px;
            display: flex;
            &_item {
                flex: 1;
                &-text {
                    color: var(--v-text-base);
                }
                &-point {
                    width: 9px;
                    height: 9px;
                    background-color: var(--v-disabled-base);
                    border-radius: 50%;
                    &__active {
                        background-color: var(--v-primary-base);
                    }
                }
            }
            &_item+&_item {
                margin-left: 2px;
            }
        }
        &-popup {
            &_icon {
                // margin-top: auto;
            }
            &_title {
                color: var(--v-text-base);
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}