$paddingCell: 5px;
$borderColor: rgba(0,0,0,.3);
$tablePanelHeight: 61px;
$tableFooterHeight: 100px;
.v {
  &-table {
    margin: 10px 10px 30px 10px;
    //position: relative;
    overflow: auto;
    &-header {
      //border: 1px solid $borderColor;
      //box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 4px 10px -4px rgba(34, 60, 80, 0.1);
      //border-top: 1px solid $borderColor;
      background-color: var(--v-background-base);
      &-row {
        //border: 1px solid $borderColor;
        &-cell {
          //border-top: 1px solid $borderColor;
          border-bottom: 1px solid $borderColor;
          position: relative;
          &-wrap {
            padding: $paddingCell;
          }
          &-sort {
            //width: 100%;
            width: 180px;
            min-width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            font-size: 12px;
            text-align: left;
            padding: $paddingCell;
            box-shadow: 0px 4px 10px -4px rgba(34, 60, 80, 0.1);
            font-weight: 400;
            border: 1px solid $borderColor;
            border-top: 0;
            z-index: 2;
            transform-origin: top;
            background-color: var(--v-background-base);
            &__row {
              display: flex;
              user-select: none;

              &__icon {
                width: 15px;
                height: 15px;
                margin-right: 5px;
                color: rgba(0,0,0,.1);
                transition: .2s;
                path {
                  fill: red;
                }
                .asc {
                  //fill: black;
                  color: black !important;
                }
                .desc {
                  //fill: black;
                  fill: black !important;
                }
                &.asc {
                  .asc {
                    //fill: black;
                    color: black;
                  }
                }
                &.desc {
                  .desc {
                    //fill: black;
                    color: black;
                  }
                }
              }
            }
            &__search {
              margin-top: 5px;
            }

          }
          &--fixed {
            position: sticky;
            background-color: #fff;
            z-index: 1;
            left: 0;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      &--fixed {
        //top: calc($tablePanelHeight - 1px);
        top: 0;
        position: sticky;
        z-index: 2;
        background-color: var(--v-background-base);
        //background-color: red;
      }
    }
    &-body {
      &-row {
        border: 1px solid $borderColor;
        cursor: pointer;
        transition: .2s;
        p {
          display: flex;
        }
        &-cell {
          padding: $paddingCell;
          &__checkbox {
            label {
              display: flex;
              width: 100%;
              height: 100%;
            }
          }
          &--fixed {
            position: sticky;
            background-color: #fff;
            z-index: 1;
            left: 0;
          }
        }
        &-paragraph {
          display: flex;
          &:not(:last-child) {
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            margin-bottom: 5px;
            span {
              &:first-child {
                width: 150px;
              }
              &:last-child {
                width: 150px;
              }
            }
          }

        }
        &--child {
          max-height: 300px;
          ul {
            display: flex;
            display: inline-flex;
            flex-direction: column;
          }
        }
        &:hover {
          background-color: rgba(0,0,0,.1);
        }
        &--selected {
          background-color: rgba(45, 65, 250, 0.752);
          color: #fff;
          &:hover {
            background-color: rgba(45, 65, 250, 0.812);
            //color: rgb(256,256,256);
          }
        }

      }
    }
    &-wrap {
      display: flex;
      flex: 1;
      //height: calc(100% - $tablePanelHeight - $tableFooterHeight);
      overflow: auto;
      table {
        //display: flex;
        //flex-direction: column;
        border: 1px solid $borderColor;
        border-top: 0;
        border-collapse: collapse;
        flex: 1;
        // table-layout: fixed;
        width: 100%;
        position: relative;
      }
    }
    &-loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-actions {
      //display: flex;
      &-wrap {
        display: flex;
        button {
          &.v-btn {
            min-width: unset;
            padding: 0 8px;
            &:not(:last-child) {
              margin-right: 5px;
            }
          }

        }
      }
    }
    &-panel {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 5px;
      background-color: rgb(225, 225, 225);
      min-height: $tablePanelHeight;
      background-color: var(--v-background-base);
      border: 1px solid $borderColor;
      border-bottom: 0;
      &__search {
        display: flex;
        align-items: baseline;
        @media (max-width: $mobileWidth) {
          justify-content: space-between;
          width: 100%;
          margin-bottom: 10px;
        }
      }
      &__actions {
        display: flex;
        flex-wrap: wrap;
        > button, div {
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
        @media (max-width: $mobileWidth) {
          //justify-content: space-between;
          //width: 100%;
        }
      }
      @media (max-width: $mobileWidth) {
        flex-direction: column-reverse;
      }
      &--fixed {
        top: 0;
        position: sticky;
        z-index: 2;
      }
    }
    &-footer {
      //display: flex;
      padding: $paddingCell;
      border: 1px solid $borderColor;
      font-size: 12px;
      width: 100%;
      height: $tableFooterHeight;
      &-total {
        text-align: center;
        font-size: 12px;
      }
      &-pagination {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-wrap {
          display: flex;
          align-items: center;
        }
        &-length {
          display: flex;

          &__label {
            margin-right: 5px;
            font-size: 14px;
          }
        }
        &__button {
          padding: $paddingCell;
          //border: 1px solid $borderColor;
          display: flex;
          align-items: center;
          justify-content: center;
          //width: 20px;
          //height: 20px;
          border-radius: 3px;
          margin: 0 2px;
          font-size: 14px;
          svg {
            width: 10px;
            height: 10px;
          }
          &--prev {
            transform: rotateY(180deg);
          }
          &:hover {
            cursor: pointer;
          }
        }
        &-pages {
          display: flex;
          color: rgba(0,0,0,.3);
          &__el {
            transition: .2s;
            span {
              transition: .2s;
            }
            &:hover {
              background-color: rgba(0,0,0,.1);;
              span {
                transform: translateY(-10%)
              }
            }
            &--active {
              background-color: rgb(64, 105, 241);
              color: #fff;
              &:hover {
                background-color: rgb(8, 62, 238);
                span {
                  transform: translateY(-10%)
                }
              }
            }

          }
        }
      }
    }
  }
}