

:root {
  --offcanvas-width: 220px;
  --topNavbarHeight: 41px;
  --offcanvas-help-width: 400px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f7;
  height: auto !important;
}

main {
  background-color: white;
}

a:hover {
  cursor: pointer;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

details,
summary {
  cursor: pointer;
}

header {
  z-index: 1044 !important;
}

/*login*/
.center {
  display: flex;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*login*/

h3>i {
  margin-right: 0.5rem;
}

h1>i {
  margin-right: 0.4rem;
}

.content {
  background-color: white;
}

#dataTables_total {
  margin: 1px 0 1px 0;
}

table.dataTable th.cmd {
  max-width: 120px!important;
  text-align: center;
}
table.dataTable td.cmd {
  text-align: center;
  white-space: nowrap;
  max-width: 120px!important;
  vertical-align: middle;
  /*
    text-overflow: ellipsis;
   border-right: none !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; */

}

div .cmd {
  text-align: center;
  white-space: nowrap;
  max-width: 120px!important;
  vertical-align: middle;
}

div .cmd>a {
  margin: 0 2px;
  width: 23px;
  height: 23px;
  padding: 0;
}

div .cmd button {
  margin: 0 4px;
  min-width: 23px;
  height: 23px;
  font-size: 0.9em;
  padding: 1px;
  background-color: inherit;
}

div .cmd i {
  text-align: center;
  margin-right: 0;
}

table.dataTable th.cmd,
table.dataTable th.align-middle {
  vertical-align: bottom !important;
}

table.dataTable .cmd button {
  margin: 0 4px;
  min-width: 23px;
  height: 23px;
  font-size: 0.9em;
  padding: 1px;
  background-color: inherit;
}

table.dataTable td.cmd>a {
  margin: 0 2px;
  width: 23px;
  height: 23px;
  padding: 0;
}

/* .btn_cmd {
  border: 1px solid #6c757d;
  border-radius: 3px;
} */


table.dataTable .cmd a {

}

table.dataTable .cmd i {
  text-align: center;
  margin-right: 0;
}

.btn-sm i {
  margin-right: 0.3rem;
}

.btn i {
  margin-right: 0.4rem;
}

/*nav*/
.offcanvas-body::-webkit-scrollbar,
.modal::-webkit-scrollbar,
.chosen-results::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}

.chosen-results::-webkit-scrollbar,
.modal::-webkit-scrollbar {
  background-color: white;
}

/* цвет дорожки */
/* .offcanvas-body::-webkit-scrollbar-track {

} */

.adapt_phone_horiz{
  left: auto !important;
}

.offcanvas-body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb,
.chosen-results::-webkit-scrollbar-thumb {
  background-color: #dddddd5e;
  /* цвет плашки */
  border-radius: 3px;
  /* закругления плашки */
  border: 1px solid #7c8690;
  /* padding вокруг плашки */
  margin-right: 1px;
}

.offcanvas-body,
.modal,
.chosen-results {
  scrollbar-color: #dddddd5e #212529;
  scrollbar-width: thin;
}

.modal-fullscreen-sm-down .modal-body {
  overflow-y: unset !important;
}


.navbar {
  padding-top: .1rem;
  padding-bottom: .1rem;
}

.navbar-nav .nav-item a,
.navbar-nav .nav-item span {
  white-space: nowrap;
}

.navbar-nav .nav-item span,
.navbar-nav .nav-item a {
  color: #E0E2E7FF !important;
  font-size: 1.05rem;
}

/* закоментил максимка */
/* .navbar a:hover,
.navbar-nav a:hover {
  color: #e0f1ff !important;
  text-shadow:
    0px 0px 20px #fff,
    -0 -1px 0 #222a35,
    0 -1px 0 #222a35,
    -0 1px 0 #222a35,
    0 1px 0 #222a35,
    -1px -0 0 #222a35,
    1px -0 0 #222a35,
    -1px 0 0 #222a35,
    1px 0 0 #222a35,
    -1px -1px 0 #222a35,
    1px -1px 0 #222a35,
    -1px 1px 0 #222a35,
    1px 1px 0 #222a35,
    -1px -1px 0 #222a35,
    1px -1px 0 #222a35,
    -1px 1px 0 #222a35,
    1px 1px 0 #222a35;
}

.navbar .active,
.navbar-nav .active {
  color: #e0f1ff !important;
  text-shadow:
    0px 0px 20px #fff,
    -0 -1px 0 #222a35,
    0 -1px 0 #222a35,
    -0 1px 0 #222a35,
    0 1px 0 #222a35,
    -1px -0 0 #222a35,
    1px -0 0 #222a35,
    -1px 0 0 #222a35,
    1px 0 0 #222a35,
    -1px -1px 0 #222a35,
    1px -1px 0 #222a35,
    -1px 1px 0 #222a35,
    1px 1px 0 #222a35,
    -1px -1px 0 #222a35,
    1px -1px 0 #222a35,
    -1px 1px 0 #222a35,
    1px 1px 0 #222a35;
} */

.navbar-nav .nav-link i {
  width: 22px;
}

/*nav*/
/* закоментил максимка */
/* .sidebar-nav {
  width: var(--offcanvas-width) !important;
  top: var(--topNavbarHeight) !important;
} */

.sidebar-link {
  display: flex !important;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

/* .modal-dialog {
  background-color: white;
} */

@media (min-width: 768px) {

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  /* закоментил максимка */
  /* main {
    margin-left: var(--offcanvas-width);
  } */

  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }

  .sidebar-nav {
    -webkit-transform: none !important;
    transform: none !important;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight) !important;
  }

  .error-task-message-popup {
    height: 100%;
  }


}


.sidebar-nav .badge {
  font-size: 0.7rem;
  text-shadow: none !important;
}


.hidden {
  display: none !important;
}

.toast {
  transition: opacity 0.2s linear !important;
}

#tabs{
  height: 100% !important;
}

.conteiner-form-data-document{
  position: relative;
  display: inline-block;
}

.change-photo-docs{
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-btn-docs-photo{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 /50%);
  z-index: 2000;
  color: #fff;
  font-size: 30px;
}

.close-docs-krest{
  position: absolute;
  right: 50px;
  top: 50px;
  text-shadow: 2px 2px 2px rgba(0 0 0/ 50%);
  cursor: pointer;
}

.full-photo-docs{
  position: absolute;
  top: 0;
  right: 0;
  width: 70vh !important;
  /* transform: translate(-50%, -50%); */
  z-index: 10000;
}

/**/
/* для ноута форма назначения */main.css
.card{
  border: 5px solid rgba(0,0,0,.03);
}

#form_personal_target_date_target_multiple::-webkit-calendar-picker-indicator{
  /* position: absolute; */
}

#form_personal_target_status_div,
#form_personal_target_is_night_div,
#form_personal_target_vid_vedomost_id_div,
#form_personal_target_object_id_div{
float: none !important;
display: inline-block;
}

#form_personal_target_doljnost_id_div,
#form_personal_target_with_nutrition_div,
#form_personal_target_vid_vedomost_id_div,
#form_personal_target_direction_id_div {
display: inline-block;
float: right !important;	
}

#form_personal_target > .modal-body > #form_personal_target_object_id_div,
#form_personal_target_direction_id_div{
  padding: 0!important;
}

#form_personal_target > .modal-body > #form_personal_target_personal_id_div,
#form_personal_target_vid_vedomost_id_div{
  padding-right: 0.5rem !important;
}


#filter_personal_target_personal_id,
#filter_personal_target_object_id,
#filter_personal_target_account_id_join,
#filter_pivot_p,
#filter_pivot_o,
#filter_pivot_account_id,
#filter_pivot_target_personal_id,
#filter_pivot_target_object_id,
#filter_pivot_target_doljnost_id,
#filter_pivot_target_status_id,
#filter_pivot_target_manager_id,
#filter_pivot_target_brigadir_id,
#filter_bank_id,
#filter_st_rashod_id,
#filter_shop_request_regions_id,
#filter_shop_request_object_id,
#filter_shop_request_service_id,
#filter_shop_request_magnit_object_id,
#filter_shop_request_magnit_doljnost_id,
#filter_shop_request_magnit_account_id,
#filter_zayavka_direction_id,
#filter_zayavka_rashod_category_id,
#filter_zayavka_payment_type,
#filter_task_to_account_id,
#filter_task_task_type_id,
#filter_shop_request_magnit_rep_status,
#filter_shop_request_magnit_rep_account_id,
#filter_shop_request_magnit_rep_filial,
#filter_shop_request_magnit_rep_object_id,
#filter_shop_request_magnit_rep_doljnost_id,
#filter_manager_error_log_from_account_id,
#filter_manager_error_log_account_id,
#filter_account_disciplin_vzisk_account_id,
#filter_account_disciplin_vzisk_disciplin_vzisk_id,
#filter_account_disciplin_vzisk_from_account_id,
#filter_loggin_account_id{
 width: 100%;
 margin-bottom: 10px;
}

.icon-tab-pers-docs{
  width: 30px;
}

.polos-betwen-docs{
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.form-photo-data-document{
  cursor: pointer;
  width: 160px;
}

.z-in{
  z-index: 100;
}

@media screen and (max-device-width: 481px) {
  .content .form {
    display: grid;
  }

  .adapt-apple{
    width: 100%;
  }

  .content .form label,
  .content .form input {
    width: 50%;
    margin: 5px;
  }

/* Адаптив от максимки */
	/* Аккаунты добавить основные*/
	 #filter_personal_object_id_div{
  width: 100%;
}


#filter_personal_fio_div,
#filter_personal_region_id_div,
#filter_personal_object_id_div,
#filter_personal_direction_id_div,
#form_payment_date_target_multiple_div{
  width: 100%;

  /* display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline; */

}

#filter_body,
#filter_personal_region_id,
#filter_personal_fio,
#filter_personal_object_id,
#filter_personal_direction_id_chosen,
#filter_personal_object_id_chosen,
#fake_account_id_chosen,
#filter_pivot_target_is_night,
#filter_pivot_target_is_night,
#filter_shop_request_magnit_personal_id,
#filter_magnit_application_object_id{
  width: 100%;
  margin-bottom: 15px;
}

#form_payment_hour_div,
#form_payment_nal_div,
#form_payment_debit_div,
#form_payment_debit_percent_div{
  width: 50%;
}

#form_payment_nal_div{
  display: inline-block;
    float: none !important;
    margin-top: 20px;
}

#form_payment_debit_div{
  display: inline-block;
    float: right !important;
}

#filter_personal_fio_chosen,
#filter_personal_region_id_chosen,
#filter_personal_object_id_chosen,
#filter_personal_direction_id{
  width: 100%;
}

  
	#object_json {
    width: 100%;
    height: 100%;
 }

 #object_json > option {
    white-space: normal;
 }

 .buttons-right {
   padding-bottom: 10px;
 }

 #form_bank_card_date_vidachi_div {
   width: 50%;
 }
 
 #form_bank_card_date_po_div {
   float: right;
   width: 50%;
 }

 #form_personal_target_direction_id_div{
  display: inline-block;
 }

  #form_personal_target_status_div,
  #form_personal_target_is_night_div,
  #form_personal_target_vid_vedomost_id_div,
  #form_personal_target_object_id_div,
  #form_objects_direction_id_div,
  #form_objects_subtype_div,
  #form_objects_regions_id_div,
  #form_objects_fio_director_div,
  #form_objects_tel_director_div,
  #form_objects_color_div,
  #form_objects_with_nutrition_div,
  #form_objects_sum_nutrition_div{
  float: none !important;
  display: inline-block;
}

 #form_personal_target_doljnost_id_div,
 #form_personal_target_with_nutrition_div {
  display: inline-block;
  float: right !important;	
 }

 #form_personal_target_date_target_multiple_div,
 #form_shop_request_magnit_object_id_div {
  display: inline-block;
  width: 100%;
 }

 #form_objects_color_pic{
  min-width: 85px;
 }

 #form_objects_name_div{
  width: 200px;
 }

 #filter_personal_target_personal_id,
 #filter_personal_target_object_id,
 #filter_personal_target_account_id_join,
 #filter_pivot_p,
 #filter_pivot_o,
 #filter_pivot_account_id,
 #filter_pivot_target_personal_id,
 #filter_pivot_target_object_id,
 #filter_pivot_target_doljnost_id,
 #filter_pivot_target_status_id,
 #filter_pivot_target_manager_id,
 #filter_pivot_target_brigadir_id,
 #filter_bank_id,
 #filter_st_rashod_id,
 #filter_shop_request_regions_id,
 #filter_shop_request_object_id,
 #filter_shop_request_service_id,
 #filter_shop_request_magnit_object_id,
 #filter_shop_request_magnit_doljnost_id,
 #filter_shop_request_magnit_account_id,
 #filter_zayavka_direction_id,
 #filter_zayavka_rashod_category_id,
 #filter_zayavka_payment_type,
 #filter_task_to_account_id,
 #filter_task_task_type_id,
 #filter_shop_request_magnit_rep_status,
 #filter_shop_request_magnit_rep_account_id,
 #filter_shop_request_magnit_rep_filial,
 #filter_shop_request_magnit_rep_object_id,
 #filter_shop_request_magnit_rep_doljnost_id,
 #filter_manager_error_log_from_account_id,
 #filter_manager_error_log_account_id,
 #filter_account_disciplin_vzisk_account_id,
 #filter_account_disciplin_vzisk_disciplin_vzisk_id,
 #filter_account_disciplin_vzisk_from_account_id,
 #filter_loggin_account_id{
  width: 100%;
  margin-bottom: 10px;
 }

.adapt-iphone{
  width: 100%;
 }

 #form_payment_hour_div,
 #form_payment_date_target_multiple_div {
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 }

 #filter_pivot_direction_id_div {
  margin: 10px 0;
 }

 #dataTables_calendar {
  width: 100%;
  text-align: center;
 }
 
 .dx-datagrid-search-panel{
  width: 100% !important;
 }

 .dx-datagrid-search-panel > .dx-texteditor-container{
  width: 100px!important;
  height: 33px!important;
 }

 #form_shop_request_status_account_id_div,
 #form_shop_request_magnit_status_account_id_div{
  height: 84px;
 }

 #form_shop_request_status_account_id_,
 #form_shop_request_date_request,
 #form_shop_request_magnit_status_account_id_,
 #form_shop_request_magnit_hour,
 #form_shop_request_magnit_date_request,
 #form_zayavka_count_1,
 #form_zayavka_price_1{
  height: 38px;
 }

 #form_shop_request_magnit_date_request_div,
 #form_shop_request_magnit_account_id_div,
 #form_objects_with_nutrition_div{
  float: left;
 }

 #form_objects_name_div{
  display: inline-block;
 }

 #form_zayavka_direction_id_div,
 #form_zayavka_rashod_vid_id_div_1{
  margin-bottom: 10px;
 }

 #form_zayavka_rashod_vid_id_div_1,
 #form_zayavka_rashod_vid_id_1{
  width: 150px;
 }



 #form_zayavka_is_debit_div_1{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65px;
  justify-content: center;
 }

 #form_objects_name_div{
  padding-right: 10px;
 }
 #form_objects_with_nutrition_div{
  padding-top: 23px;
 }
/* конец Адаптив от максимки */

}

#offcanvaseEditorWrapper {
  z-index: 1080;
  opacity: 0.9;
}

#offcanvaseEditorWrapper .editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  background-color: #212529;
}

#air-datepicker-global-container {
  z-index: 1070;
}


.responsive-tabs {
  padding: 1rem;
}

.responsive-tabs .nav-tabs {
  display: none;
}

@media (min-width: 768px) {
  .responsive-tabs .nav-tabs {
    display: flex;
  }

  .responsive-tabs .card {
    border: none;
  }

  .responsive-tabs .card .card-header {
    display: none;
  }

  .responsive-tabs .card .collapse {
    display: block;
  }

  
}

@media (max-width: 767px) {
  .responsive-tabs .tab-pane {
    display: block !important;
    opacity: 1;
  }

  .stage-2-error-block-body {
    height: calc(100vh - 355px) !important;
  }
}

/*ace*/
/*.ace_editor, .toolbar, .run-code {*/
/*  border: 1px solid lightgray;*/
/*  border-radius: 5px;*/
/*  width: 60%;*/
/*  z-index: 99999;*/
/*}*/

/*.ace_editor {*/
/*  position: fixed;*/
/*  top: 20%;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, 10%);*/

/*}*/

/*.toolbar {*/
/*  position: fixed;*/
/*  top: 20%;*/
/*  left: 20%;*/
/*  /margin-right: -50%;*/
/*  background-color: #424242;*/
/*  !*height: 52px;*!*/
/*}*/
/*ace*/

.btn-glare {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.btn-glare:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateX(-4em) skewX(-45deg);
}

.btn-glare:focus:before {
  animation: moveLight 1s;
}

@keyframes moveLight {
  from {
    transform: translateX(-4em) skewX(-45deg);
  }

  to {
    transform: translateX(10em) skewX(-45deg);
  }
}

.holiday {
  background: #ff000050 !important;
}

.mw-50 {
  min-width: 50px;
}

.mw-100 {
  min-width: 100px;
}

.mw-200 {
 min-width: 200px;
}

.mw-300 {
 min-width: 300px;
}

.mw-500 {
  min-width: 500px;
 }

.mw-10pr {
  min-width: 10%;
}

.mw-25pr {
  min-width: 25%;
}

.mw-50pr {
  min-width: 50%;
}


.tab-pane .title-wrapper {
  display: none !important;
}

td.inputcolor {
  vertical-align: middle;
}

td.inputcolor>div {
  font-size: small;
  padding: 2px 5px;
  border-radius: 4px;
}

/*!!!!!!!!!remove*/
td.ishd:hover {
  box-shadow: inset 0 0 0 2px #ff000085, inset 0 0 0 2px #ff000085;
}

div.dvhd:hover {
  box-shadow: inset 0 0 0 2px #ff000085, inset 0 0 0 2px #ff000085;	
}

td.ishd {
  cursor: pointer;
 font-size: 84% !important;
}

.custom_add_btn_block {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 2px;
}

.custom_add_btn_flex_block {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.custom_add_btn {
  width: 100%;
  height: 100%;
  background-color: #269926;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px ;
  cursor: pointer;
  font-size: 25px;
  font-weight: 350;
  padding-bottom: 2px;
}

.custom_remove_btn {
  width: 100%;
  height: 100%;
  background-color: #0b5ed7;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 350;
  padding-bottom: 2px;
}

.disabled {
  opacity: 0.8;
  background-color: #043B8C;
}

.custom_remove_btn.disabled:hover {
  background-color: #043B8C;
}

.custom_add_btn:hover {
  background-color: #008500;
}

.custom_remove_btn:hover {
  background-color: #2F5DA1;
}

.plus_button_zayavka {
  width: 15px;
  height: 15px;
  background-color: #269926;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 3px;
  padding-left: 1px;
  cursor: pointer;
}

.minus_button_zayavka {
  width: 15px;
  height: 15px;
  background-color: #0b5ed7;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 4px;
  cursor: pointer;
  margin-left: 3px;
}

.plus_button_zayavka_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

#form_zayavka_ruk_fil_div label {
  width: 60%;
}

.person__table__select { 
  display: block; 
  font-size: 14px; 
  font-family: sans-serif; 
  font-weight: 200; 
  color: #444;
  max-width: 100%;
  box-sizing: border-box; 
  margin: 0; 
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: 5px;
  margin-top: 3px;
} 

.personal_id_table {
  width: 500px;
}

.tmc_button_tree{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-top: 0.5px solid rgba(0,0,0,.2);
  border-bottom: 0.5px solid rgba(0,0,0,.2);
  user-select: none;
}

.tmc_button{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}

.tmc_button:hover{
  text-decoration: underline;
  background-color: #80b8f5;
  color: #fff;
  cursor: pointer;
}

.tmc_button_active {
  background-color: #0d6efd;
  text-decoration: underline;
  color: #fff;
}

.tmc_button.tmc_button_active:hover {
  background-color: #0d6efd;
}

.tmc_button.block:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.tmc_button.block {
  background-color: #fff;
  color: #000;
}

.tmc_button.tmc_button_active.block {
  background-color: #4275c3;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.tmc_button.tmc_button_active.block:hover {
  background-color: #4275c3;
  text-decoration: none;
}


.bt {
  border-top: 0.5px solid rgba(0,0,0,.2);
}

.check_myself { display: none; }

.check_myself + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 5px 0;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.check_myself + label:last-child { margin-bottom: 0; }

.check_myself + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #060f92;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.check_myself:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.print__form {
  text-decoration: underline;
}

.print__form:hover {
  color: #5FC0CE;
  cursor: pointer;
}

.non__print__form:hover {
  color: #5FC0CE;
  cursor: pointer;
}

.delete__print__form__flex {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  color: #FFF;
  justify-content: center;
  align-items: center;
  background-color: #FD0006;
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: 4px;
  padding-right: 1px;
}

.delete__print__form__ib {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  padding-top: 4px;
}

.delete__print__form__flex:hover {
  background-color: #A40004;
}

#personal_query_with_transfer:checked{

}

.open-form-transfer{
  height: 190px;
  transition: all 1s ease;
  overflow: hidden;
}

.close-form-transfer{
  height: 0;
  min-height: 0;
  transition: all 1s ease;
  overflow: hidden;
}

.info-task{
    display: flex;
    flex-direction: row;

    gap: 80px;
}

@keyframes polygon {
    0% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 0%);}
    17.1875% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 100% 0%); }
    32.8125% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 100% 100%); }
    67.1875% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 100%, 0% 100%, 0% 100%, 0% 100%); }
    82.8125% { clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%); }
    100% { clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%); }
}


.block-info-date-task,
.block-info-timer-task,
.block-info-person-task,
.block-info-status-task{
    display: flex;
    gap: 20px;
    align-items: center;
}

.tag-task-name,
.info-date-task{
    display: flex;
    gap: 5px;
    align-items: center;
}

.info-text-task{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
}

.tag-elem-task{
    height: 10px;
    width: 10px;
    background-color: #002FD3;
    border-radius: 50%;
}

  .timer-task{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 11/5;
    height: 2em;
    border: 2px solid gray;
    border-radius: 15px;
  }

  .timer-task::before{
    content: '';
    position: absolute;
    inset: -2px;
    border: 2px solid #0edd1c;
    border-radius: 15px;
    animation: polygon 10s linear infinite;
  }

  .timer-task.overdue::before{
    content: '';
    position: absolute;
    inset: -2px;
    border: 2px solid #FF0D00;
    border-radius: 15px;
    animation: polygon 10s linear infinite;
  }


  /*             */

  .head-block-docs-form{
    width: 100px;
  }

   .docs-form-add{
    width: 90%;
  } 

  .block-docs-form{
    /*display: flex;*/
    gap: 5px;
    align-items: center;
  }

  .docs-form-add{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:  0 3px;
  }

  .scroll-nescroll::-webkit-scrollbar{
    width: 0px;
  }

  .info-text-task{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 390px;
    overflow-y: scroll;
    -ms-overflow-style: none;
      scrollbar-width: none;
    }
    

    .info-text-task::-webkit-scrollbar {
        width: 0;
        height: 0;
  }

    .header-task-opis{
        font-size: 20px;
    }

  .head-block-docs-form{
    display: flex;
    gap: 4px;
  }

  .ready-docs-form{
    color: #2AD300;
    white-space: nowrap;
  }

  .wait-docs-form{
    color: orange;
  }

  .not-docs-form{
    color: red;
  }

  .input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
    width: 170px;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #6c757d;
	line-height: 22px;
	height: 30px;
	padding: 4px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

.col-task-icon{
    color: grey;
}

.head-task-name{
    display: flex;
    align-items: end;
    gap: 10px;
}


.tag-task-head{
    width: 5px;
    height: 35px;
    border-radius: 15px;
    background-color: #2AD300;
}

.arrow-form-block-dosc{
    margin-right: 10px;
}

.block-dorm-name-check{
    display: flex;
    gap: 20px;
}

.btn-bottom-form-docs{
  display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    gap: 10px;
    flex-direction: row-reverse;
}

.btn-add-form-docs{
    height: 30px;
    /*width: 30px;*/
    background-color: #0d6efd;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 0px 5px;
    border-radius: 5px;
    color: #fff;
    justify-content: center;
}

.btn-add-form-docs-download{
  height: 30px;
  background-color: none;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 0px 5px;
  border-radius: 5px;
  color: #646464;
}

.fomr-inp-btn-doc{
    height: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
    overflow: hidden;
    margin: 0px 40px 0px 35px;
    cursor: pointer;
     flex-direction:column ; 
    gap: 5px;
}

.fomr-inp-btn-doc-8{
  height: 0px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
  overflow: hidden;
  margin: 0px 40px 0px 35px;
  cursor: pointer;
   flex-direction:column ; 
  /* gap: 5px; */
  width: 85%;
  /* width: 80%; */
}

.fomr-inp-btn-doc-9{
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0px 40px 0px 35px;
  cursor: pointer;
  flex-direction:column ; 
  /* gap: 5px; */
  width: 85%;
  /* width: 80%; */
}

.btn-down-form-inf-o {
  display: flex;
  justify-content: flex-start;
  /* margin-right: 40px; */
  gap: 20px;
  flex-direction: row-reverse;
}

.open-form-docs-btn {
  height: 30px;
  transition: all 1s ease;
  margin: 20px 40px 0px 35px
}




.open-form-docs-for-patent {
  height: 170px;
  transition: all 1s ease;
  margin: 10px 40px 0px 35px
}

#doc_block_btn_1.open-form-docs-for-patent,
#doc_block_btn_2.open-form-docs-for-patent,
#doc_block_btn_3.open-form-docs-for-patent,
#doc_block_btn_4.open-form-docs-for-patent,
#doc_block_btn_5.open-form-docs-for-patent,
#doc_block_btn_6.open-form-docs-for-patent,
#doc_block_btn_7.open-form-docs-for-patent,
#doc_block_btn_8.open-form-docs-for-patent,
#doc_block_btn_9.open-form-docs-for-patent,
#doc_block_btn_10.open-form-docs-for-patent,
#doc_block_btn_11.open-form-docs-for-patent,
#doc_block_btn_12.open-form-docs-for-patent,
#doc_block_btn_13.open-form-docs-for-patent,
#doc_block_btn_14.open-form-docs-for-patent,
#doc_block_btn_15.open-form-docs-for-patent,
#doc_block_btn_16.open-form-docs-for-patent,
#doc_block_btn_17.open-form-docs-for-patent,
#doc_block_btn_18.open-form-docs-for-patent,
#doc_block_btn_19.open-form-docs-for-patent,
#doc_block_btn_20.open-form-docs-for-patent,
#doc_block_btn_21.open-form-docs-for-patent,
#doc_block_btn_22.open-form-docs-for-patent,
#doc_block_btn_23.open-form-docs-for-patent {
  height: 216px;
}

@keyframes galkaValidCheck {
  0% {
    width: 0;
    opacity: 0;
  }


  100% {
    width: 100%;
    opacity: 1;
  }
 
}

@keyframes backgalkaValidCheck {
  0% {
    width: 100%;
    opacity: 1;
  }


  100% {
    width: 0;
    opacity: 0;
  }
 
}

.non-active-valid-form{
  animation: backgalkaValidCheck 1s linear;
}

.active-valid-form{
  animation: galkaValidCheck 1s linear;
  
}

@keyframes over-filter {
  0% {
      overflow: hidden;
  }

  99% {
      overflow: hidden;
  }

  100% {
      overflow: inherit;
  }
}



#doc_1_inp.open-form-docs-btn,#doc_2_inp.open-form-docs-btn,#doc_3_inp.open-form-docs-btn,#doc_4_inp.open-form-docs-btn,
#doc_5_inp.open-form-docs-btn,#doc_6_inp.open-form-docs-btn,#doc_7_inp.open-form-docs-btn,#doc_8_inp.open-form-docs-btn,
#doc_9_inp.open-form-docs-btn,#doc_10_inp.open-form-docs-btn,#doc_11_inp.open-form-docs-btn,#doc_12_inp.open-form-docs-btn,
#doc_13_inp.open-form-docs-btn,#doc_14_inp.open-form-docs-btn,#doc_15_inp.open-form-docs-btn,#doc_16_inp.open-form-docs-btn,
#doc_17_inp.open-form-docs-btn,#doc_18_inp.open-form-docs-btn,#doc_19_inp.open-form-docs-btn,#doc_20_inp.open-form-docs-btn,
#doc_21_inp.open-form-docs-btn,#doc_22_inp.open-form-docs-btn{
  transition: all 1s ease;
  margin: 5px 40px 0px 35px
}

#check_form_pasp_1.open-form-docs-btn{
  height: 140px;
}

#doc_1_inp.open-form-docs-btn{
  height: 210px;
}

#doc_2_inp.open-form-docs-btn{
  height: 90px;
}

#doc_3_inp.open-form-docs-btn{
  height: 440px;
  /* width: 90%; */
}

#doc_4.open-form-docs-btn{
  height: 170px;
  /* width: 80%; */
}

#doc_14.open-form-docs-btn{
  height: 170px;
  /* width: 80%; */
}

#doc_17.open-form-docs-btn{
  height: 170px;
  /* width: 80%; */
}


#doc_25.open-form-docs-btn{
  height: 170px;
  /* width: 80%; */
}

#bank_card_invoice {
	width : 260px !important;
}

#doc_3_inp{
  /* width: 90%; */
}

#doc_4_inp{
  /* width: 80%; */
}

#doc_4_inp.open-form-docs-btn{
  height: 80px;
  /* width: 80%; */
}

#doc_5_inp.open-form-docs-btn{
  height: 170px;
}

#doc_6_inp{
   /* width: 90%;  */
}

#doc_6_inp.open-form-docs-btn{
  height: 80px;
   /* width: 100%;  */
}

#doc_7_inp.open-form-docs-btn{
  height: 50px;
}

#doc_8_inp.open-form-docs-btn{
  height: 100px;
}


#doc_9_inp.open-form-docs-btn{
  height: 220px;
}


#doc_10_inp.open-form-docs-btn{
  height: 150px;
}

#doc_13_inp.open-form-docs-btn{
  height: 94px;
}

#doc_14_inp.open-form-docs-btn{
  height: 80px;
}

#doc_15_inp{
  width: 100%;
}

#doc_15_inp.open-form-docs-btn{
  /* width: 100%; */
  height: 170px;
  animation: over-filter 1s normal forwards ease-in-out;
}

#doc_17_inp.open-form-docs-btn{
  height: 94px;
}

#doc_19_inp.open-form-docs-btn{
  height: 94px;
}

#doc_20_inp.open-form-docs-btn{
  height: 50px;
}

#doc_21_inp.open-form-docs-btn{
  height: 50px;
}

#doc_22_inp{
  /* width: 90%; */
}

#doc_22_inp.open-form-docs-btn{
  /* width: 90%; */
  height: 70px;
}

#doc_23_inp{
  /* width: 90%; */
}

#doc_23_inp.open-form-docs-btn{
  /* width: 90%; */
  height: 90px;
}

#doc_24_inp.open-form-docs-btn{
  /* width: 90%; */
  height: 90px;
}

#check_form_pasp_okk_1.open-form-docs-btn{
  height: calc(140px + 80px);
}

#doc_okk_1_inp.open-form-docs-btn{
  height: calc(210px + 80px);
}

#doc_okk_2_inp.open-form-docs-btn{
  height: 136px;
}

#doc_okk_3_inp.open-form-docs-btn{
  height: calc(400px + 80px);
  /* width: 90%; */
}

#doc_okk_4.open-form-docs-btn{
  height: calc(170px + 80px);
  /* width: 80%; */
}

#doc_okk_14.open-form-docs-btn{
  height: calc(170px + 80px);
  /* width: 80%; */
}

#doc_okk_4_inp.open-form-docs-btn{
  height: calc(80px + 80px);
  /* width: 80%; */
}

#doc_okk_5_inp.open-form-docs-btn{
  height: calc(140px + 80px);
}


#doc_okk_6_inp.open-form-docs-btn{
  height: calc(80px + 80px);
   /* width: 100%;  */
}

#doc_okk_7_inp.open-form-docs-btn{
  height: calc(50px + 80px);
}

#doc_okk_8_inp.open-form-docs-btn{
  height: calc(20px + 80px);
}


#doc_okk_9_inp.open-form-docs-btn{
  height: calc(220px + 80px);
}


#doc_okk_10_inp.open-form-docs-btn{
  height: calc(150px + 80px);
}

#doc_okk_13_inp.open-form-docs-btn{
  height: calc(94px + 80px);
}

#doc_okk_14_inp.open-form-docs-btn{
  height: calc(80px + 80px);
}


#doc_okk_15_inp.open-form-docs-btn{
  height: calc(160px + 80px);
}

#doc_okk_17_inp.open-form-docs-btn{
  height: calc(94px + 80px);
}

#doc_okk_19_inp.open-form-docs-btn{
  height: calc(94px + 80px);
}

#doc_okk_20_inp.open-form-docs-btn{
  height: calc(50px + 80px);
}

#doc_okk_21_inp.open-form-docs-btn{
  height: calc(50px + 80px);
}


#doc_okk_22_inp.open-form-docs-btn{
  height: calc(70px + 80px);
}

#doc_okk_23_inp.open-form-docs-btn{
  height: calc(90px + 80px);
}

#doc_okk_24_inp.open-form-docs-btn{
  height: 120px;
}


#check_form_pasp_obd_1.open-form-docs-btn{
  height: calc(140px + 75px);
}

#doc_obd_1_inp.open-form-docs-btn{
  height: calc(210px + 80px);
}

#doc_obd_2_inp.open-form-docs-btn{
  height: 135px;
}


#doc_obd_3_inp.open-form-docs-btn{
  height: calc(400px + 80px);
  /* width: 90%; */
}

#doc_obd_4.open-form-docs-btn{
  height: calc(170px + 80px);
  /* width: 80%; */
}

#doc_obd_14.open-form-docs-btn{
  height: calc(170px + 80px);
  /* width: 80%; */
}

#doc_obd_4_inp.open-form-docs-btn{
  height: calc(80px + 80px);
  /* width: 80%; */
}

#doc_obd_5_inp.open-form-docs-btn{
  height: calc(140px + 80px);
}


#doc_obd_6_inp.open-form-docs-btn{
  height: calc(80px + 80px);
   /* width: 100%;  */
}

#doc_obd_7_inp.open-form-docs-btn{
  height: calc(50px + 80px);
}

#doc_obd_9_inp.open-form-docs-btn{
  height: calc(220px + 80px);
}


#doc_obd_10_inp.open-form-docs-btn{
  height: calc(150px + 80px);
}

#doc_obd_13_inp.open-form-docs-btn{
  height: calc(94px + 80px);
}

#doc_obd_14_inp.open-form-docs-btn{
  height: calc(80px + 80px);
}


#doc_obd_15_inp.open-form-docs-btn{
  height: calc(160px + 80px);
}

#doc_obd_17_inp.open-form-docs-btn{
  height: calc(94px + 80px);
}

#doc_obd_19_inp.open-form-docs-btn{
  height: calc(94px + 80px);
}

#doc_obd_20_inp.open-form-docs-btn{
  height: calc(50px + 80px);
}

#doc_obd_21_inp.open-form-docs-btn{
  height: calc(50px + 80px);
}


#doc_obd_22_inp.open-form-docs-btn{
  height: calc(70px + 80px);
}

#doc_obd_23_inp.open-form-docs-btn{
  height: calc(90px + 80px);
}

#bank_card_comment{
  resize: none;
  height: 100px;
}

#pasport_form_docs_inp_btn.open-form-docs-btn{
  height: 340px;
}

#pasport_2_form_docs_inp_btn.open-form-docs-btn{
  height: 200px;
}

#migr_cart_form_docs_inp_btn.open-form-docs-btn{
  height: 180px;
}

#migr_uch_form_docs_inp_btn.open-form-docs-btn{
  height: 220px;
}

#rekvz_form_docs_inp_btn.open-form-docs-btn{
  height: 80px;
}

#inn_form_docs_inp_btn.open-form-docs-btn{
  height: 110px;
}

#snils_form_docs_inp_btn.open-form-docs-btn{
  height: 110px;
}

#eks_rf_form_docs_inp_btn.open-form-docs-btn{
  height: 100px;
}

#med_book_form_docs_inp_btn.open-form-docs-btn{
  height: 140px;
}

#migr_card_form_docs_inp_btn.open-form-docs-btn{
  height: 80px;
}

#view_home_form_docs_inp_btn.open-form-docs-btn{
  height: 80px;
}

#check_form_docs_inp_btn.open-form-docs-btn{
  height: 140px;
}

#patent_check_inp{
    margin: 10px 0px;
}

#doc_check_rmu_1_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_2_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_3_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_4_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_5_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_6_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_7_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_8_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_9_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_10_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_11_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_12_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_13_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_14_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_15_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_16_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_17_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_18_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_19_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_20_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_21_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_22_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_23_inp.open-form-docs-btn {
  height: 70px;
  margin: 0px 40px 0px 35px;
}

#doc_check_rmu_24_inp.open-form-docs-btn {
  height: 60px;
  margin: 0px 40px 0px 35px;
}

.info-patent-docs{
    display: flex;
    gap: 5px;
    justify-content: space-between;

}



.patent-form-write{
    position: relative;
    flex-direction: column;
    display: flex;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
    padding-bottom: 10px;
    padding: 0rem 1rem;
}

.patent-text-head{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.block-inp-btn-save{
    display: flex;
    justify-content: space-between;
}

.dissable-patent{
    position: absolute;
    background: repeating-linear-gradient( -45deg, #cccccc5c 0 10px, #9999991a 10px 30px );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.head-block-docs-form{
    width: 100px;
    margin-right: 50px;
    cursor: pointer;
  }

.head-block-docs-form{
    display: flex;
    gap: 4px;
  }


.head-block-docs-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.info-docs {
display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    width: 100%;
    height: 340px;
    overflow-y: scroll;
    -ms-overflow-style: none;
      scrollbar-width: none;
}
    

.info-docs::-webkit-scrollbar {
        width: 0;
        height: 0;
}

/* лизинг в кредит */

#form_zayavka_add_doc_lising_div {
  margin: 10px 0;
  padding: 3px 0;
}

.lising-block-docs-zayavka{
  border-right: 1px solid #cbcbcb;
  border-left: 1px solid #cbcbcb;
}

.conainer-lising-docs-zayavka{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.lising-block-docs-zayavka::-webkit-scrollbar{
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;  
}

.lising-block-docs-zayavka::-webkit-scrollbar-thumb{
  background-color: gray;    
  border-radius: 10px;  
}

.photo-lising-doc-spisok{
  height: 35px;
  cursor: pointer;
  aspect-ratio: 9/6;
}

.photo-doc-lising{
  width: 60px;
}

.name-doc-lising{
  text-decoration: none;
  color: #000 !important;
}

.lising-doc-zayavka:not(:last-child){
  padding-bottom: 5px;
  border-bottom: 1px solid #cbcbcb;
}

.photo-lising-doc-spisok-active{
  width: 100%;
  height: auto;
  position: absolute;
  /* top: 40%; */
  left: 0;
  z-index: 1000000;
  cursor: pointer;
}

.back-btn-close-photo-lising-doc{
  background-color: rgb(0 0 0 / 71%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 10000000;
  right: 10px;
  top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
}

.btn-close-photo-lising-doc{
  color: #fff;
  text-shadow: 1px 1px 1px #000;

}

.back-btn-close-photo-lising-doc:hover{
  scale: 1.1;
}

.photo-doc-zoom{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background: #00000063;
}

.btn-task-add-rashod-hover:hover{
  background-color: #94cf02 !important;
}

.btn-task-add-prilojit-hover:hover{
  background-color:#ce6502 !important;
}

.btn-task-add-rashod-hover:active{
  background-color: #86bb03 !important;
}

.btn-task-add-prilojit-hover:active{
  background-color:#b45904 !important;
}

.btn-task-add-rashod-hover:focus{
  background-color: #94cf02 !important;
  box-shadow: 0 0 0 0.25rem rgba(130,138,145,.5);
}

.btn-task-add-prilojit-hover:focus{
  background-color:#ce6502 !important;
  box-shadow: 0 0 0 0.25rem rgba(130,138,145,.5);
}


/* для стоячего хедра */
.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}
/*  */

.form-data-document-photo{
  float: right;
}

/* .nav-tabs .nav-link {
  margin: 1px !important;
  background: #ebebeb;
  border: 1px solid rgba(0 0 0 /10%) !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
} 

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #ababab #ababab #ababab !important;
} */

.error-task-message-popup {
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
  color: rgba(0 0 0/20%);
}

#personal_new > thead,
#personal_eaes > thead,
#personal_dont_res > thead,
#personal_rf > thead {
  position: sticky;
  top: 45px;
  background: #ffff;
  z-index: 1039;
}

#btn_update_stage_2_error {
  float: right;
}

.stage-2-error-block-body {
  width:100%;
  overflow-x: hidden;
  max-height: 300px;
  height: auto;
  overflow-y: auto;
  margin: 10px 0;
}

.stage-2-error-block-body::-webkit-scrollbar {
  width: 4px;
}

.stage-2-error-block-body::-webkit-scrollbar-track {
  background: #fff;        /* цвет дорожки */
}
.stage-2-error-block-body::-webkit-scrollbar-thumb {
  background-color: grey;    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
}

#stage_3_personal_block > .inner-stage-3-personal-block {
  height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

#stage_3_personal_block > .inner-stage-3-personal-block.open-form-docs-btn {
  height: 300px;
  overflow: auto;
  margin: 0px 10px;
  transition: all 1s ease;
}

#stage_3_personal_block > .inner-stage-3-personal-block.open-form-docs-btn::-webkit-scrollbar {
  width: 4px;
}

#stage_3_personal_block > .inner-stage-3-personal-block.open-form-docs-btn::-webkit-scrollbar-track {
  background: #fff;        /* цвет дорожки */
}
#stage_3_personal_block > .inner-stage-3-personal-block.open-form-docs-btn::-webkit-scrollbar-thumb {
  background-color: grey;    /* цвет плашки */
  border-radius: 10px;       /* закругления плашки */
}