.v-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-date-container {
  max-width: 60px;
  margin-left: 10px;
}

.v-date-container_day {
  font-size: 10px;
  color: var(--v-text-base);
  white-space: nowrap;
}

.v-date-container_time {
  font-size: 8px;
  color: var(--v-disabled-base);
  white-space: nowrap;
}
