.date-range {
  &-label {
    transition: 0.1s;
    font-size: calc(16px * 0.75);
    &.isFocus {
      color: var(--v-primary-base);
    }
    &.isError {
      color: var(--v-error-base);
    }
  }
  .rightDate {
    right: 0;
    left: unset;
  }
  .row {
    flex-wrap: nowrap;
    @media (max-width: $mobileWidth) {
      flex-wrap: wrap;
    }
    .date {
      &-left {
      }
      &-right {
      }
      @media (max-width: $mobileWidth) {
        padding: 0 !important;
        height: 80px;
      }
    }
  }
  .removeAll {
    display: none;
  }
}
