.testanim-leave-active {
  transition: all 0.25s ease;
}

.testanim-leave-from {
  opacity: 1;
}

.testanim-leave-to {
  opacity: 0;
}

.testanim-enter-active {
  transition: all 0.25s ease;
}

// .testanim-enter,
// .testanim-leave-to {
//   transform: translateX(20px);
//   opacity: 0;
// }

.testanim-enter,
.testanim-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.testanim-enter,
.testanim-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.testanim-leave-active {
  /* position: absolute; */
}

.testanim-move {
  transition: all 0.25s ease;
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 10s;
  max-height: 230px;
}
.fadeHeight-enter,
.fadeHeight-leave-to {
  opacity: 0;
  max-height: 0px;
}

//

.faderight-leave-active {
  transition: all 0.15s ease;
}

.faderight-leave-from {
  opacity: 1;
}

.faderight-leave-to {
  opacity: 0;
}

.faderight-enter-active {
  transition: all 0.15s ease;
}

// .testanim-enter,
// .testanim-leave-to {
//   transform: translateX(20px);
//   opacity: 0;
// }

.faderight-enter,
.faderight-leave-to {
  transform: translateX(-100%) !important;
  opacity: 0;
}

.faderight-enter,
.faderight-leave-to {
  transform: translateX(100%) !important;
  opacity: 0;
}

.faderight-leave-active {
  /* position: absolute; */
}

.faderight-move {
  transition: all 0.15s ease;
}

//

.accordion-leave-active {
  transition: all 0.15s ease;
}

.accordion-leave-from {
  opacity: 1;
}

.accordion-leave-to {
  opacity: 0;
}

.accordion-enter-active {
  transition: all 0.15s ease;
}

// .testanim-enter,
// .testanim-leave-to {
//   transform: translateX(20px);
//   opacity: 0;
// }

.accordion-enter,
.accordion-leave-to {
  transform: translateY(100%) !important;
  //opacity: 0;
}

.accordion-enter,
.accordion-leave-to {
  transform: translateY(-100%) !important;
  opacity: 0;
}

.accordion-leave-active {
  /* position: absolute; */
}

.accordion-move {
  transition: all 0.15s ease;
}

//.fadeHeight-enter-active,
//.fadeHeight-leave-active {
//  transition: all 5s;
//  //max-height: 230px;
//  //transform: scaleY(1);
//  transform: translateY(0);
//  //overflow: hidden;
//}
//.fadeHeight-enter,
//.fadeHeight-leave-to
//{
//  //opacity: 0;
//  opacity: 1;
//  transform: translateY(-100%);
//  //transform: scaleY(0);
//  max-height: 0px;
//}

//

.context-open-leave-active {
  transition: all 0.5s ease;
}

.context-open-leave-from {
  //opacity: 1;
}

.context-open-leave-to {
  opacity: 0;
  //display: none;
}

.context-open-enter-active {
  transition: all 0.5s ease;
}

// .testanim-enter,
// .testanim-leave-to {
//   transform: translateX(20px);
//   opacity: 0;
// }

.context-open-enter,
.accordion-leave-to {
  //transform: translateY(100%) !important;
  //opacity: 0;
}

.context-open-enter,
.accordion-leave-to {
  //transform: translateY(-100%) !important;
  //opacity: 0;
}

.context-open-leave-active {
  /* position: absolute; */
}

.context-open-move {
  transition: all 0.5s ease;
}

//@keyframes contextOpen {
//  0% {
//    transform: scaleX(0);
//    transform: scaleY(0);
//  }

//  50% {
//    transform: scaleX(1);
//  }

//  100% {
//    transform: scaleY(1);
//  }
//}

.sheet-fade-leave-active {
  transition: all 0.25s ease;
}

.sheet-fade-leave-from {
  opacity: 1;
}

.sheet-fade-leave-to {
  opacity: 0;
}

.sheet-fade-enter-active {
  transition: all 0.25s ease;
}

// .testanim-enter,
// .testanim-leave-to {
//   transform: translateX(20px);
//   opacity: 0;
// }

.sheet-fade-enter,
.sheet-fade-leave-to {
  //transform: translateX(-100%);
  opacity: 0;
}

.sheet-fade-enter,
.sheet-fade-leave-to {
  //transform: translateX(100%);
  opacity: 0;
}

.sheet-fade-leave-active {
  /* position: absolute; */
}

.sheet-open-leave-active {
  transition: all 0.25s ease;
}

.sheet-open-leave-from {
  opacity: 1;
}

.sheet-open-leave-to {
  opacity: 0;
}

.sheet-open-enter-active {
  transition: all 0.25s ease;
}

// .testanim-enter,
// .testanim-leave-to {
//   transform: translateX(20px);
//   opacity: 0;
// }

.sheet-open-enter,
.sheet-open-leave-to {
  transform: translateX(-100%);
  //opacity: 0;
}

.sheet-open-enter,
.sheet-open-leave-to {
  transform: translateX(100%);
  //opacity: 0;
}

.sheet-open-leave-active {
  /* position: absolute; */
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.sidelist-enter-active,
.sidelist-leave-active {
  transition: all 0.2s ease-out;
}
.sidelist-enter,
.sidelist-leave-to {
  transform: translateX(100%);
}
