$fontSizeTest: 50px;

//z-index
$default-z: 1; //деваулт значение
$popup-z: 20; //для попапа
$in-popup-z: 30; //Для попапа в попапе
$context-z: 5; //контекстные штуки
$stiky-z: 10; //стики элементы
$navbar-z: 11; //Боковое меню
$black-bg: 19; //затемнение фона
$high-level: 9999; //для элементов изначально наверху прям 100%
$low-level: -9999; //для элементов которые опускаются в низ
$navbar-mobile-z: 1000; //для попапа из мобилки
$panelHeight: 64px;

// основные переменные
$offcanvas-width: 220px; // отступ рабочей зоны при открытом  sidebar
$topNavbarHeight: 41px; //высота отступа сверху
$offcanvas-help-width: 400px; // пока хз что это
$gap-cells-page: 20px;
$gap-ui-elements: 15px;
$offcanvas-width-roll-up: 40px;
$overlay: rgba(0, 0, 0, 0.3);
$overlayZIndex: 100;
$sheetWidth: 440px;
$mobileWidth: 768px;
//светлая версия
// цвета
$dark--bg: rgba(0 0 0/40%);

$accent-blue: #109cf1;
$yellow: #ffb946;
$red: #f7685b;
$green: #2ed47a;
$purple: #885af8;
$black: #192a3e;
$table-black: #323c47;
$table-gray: #707683;
$table-background: #f5f6f8;
$table-stroke-select: #f2f9ff;
$dark-blue-text: #334d6e;
$gray: #90a0b7;
$icon-gray: #c2cfe0;
$white: #ffffff;
$disable: #d6dbe2;
$help-grey: #8b949e;

//направления в компании
$autsafing: #ff5a5a;
$it: #ff9f5a;
$roznica: #66e77a;
$logistica: #4ee3c8;
$okk: #78c0e9;
$snabjenie: #936fed;
$call-center: #edca14;
$urists: #686ef3;
$sb: #ffbd5a;
$hr: #d45aff;
$razvitie: #5a9cff;
$con: #f96da8;

//tag
$tag-red: #ff3b30;
$tag-orange: #ff9500;
$tag-yellow: #ffcc00;
$tag-green: #34c759;
$tag-blue: #32ade6;
$tag-dark-blue: #5856d6;
$tag-purple: #af52de;

// темная тема
$dark-accent-blue: #0d90e0;
$dark-yellow: #e59e28;
$dark-red: #df5347;
$dark-green: #14bc61;
$dark-purple: #6c3ae5;
$dark-bg: #1d1d1d;
$dark-card-bg: #252525;
$dark-stroke: #5a5a5a;
$dark-dis-btn: #c2cfe0;

//направления в компании
$dark-autsafing: #e84c4c;
$dark-it: #ec904d;
$dark-roznica: #48cd5c;
$dark-logistica: #3be4c6;
$dark-okk: #4eb3ec;
$dark-snabjenie: #8263cc;
$dark-call-center: #efcc17;
$dark-urists: #656be3;
$dark-sb: #e0a143;
$dark-hr: #d45aff;
$dark-razvitie: #4584e1;
$dark-con: #e15992;

@mixin custom-scroll-bar-vertical() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #727272;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

//mixini
@mixin iconStandart {
  color: $icon-gray;
}

@mixin textHead {
  font-size: 16px;
  font-weight: 600;
  color: $dark-blue-text;
}

@mixin textSecondGray {
  font-size: 11px;
  font-weight: 500;
  color: $gray;
}

@mixin animationRoolUpNavbar {
  transition: 0.6s all ease;
}

@mixin gradient {
  position: relative;
  pointer-events: none;
  cursor: default;
  &::before {
    content: '';
    position: absolute;
    z-index: 11;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(
      to right,
      var(--v-gradient1-base) 8%,
      var(--v-gradient2-base) 38%,
      var(--v-gradient1-base) 54%
    );
    background-size: 1000px 640px;
  }
}

//классы для текстов

.text_medium_13_darkblue {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
  color: $table-black;
}

.text_medium_13_grey {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
  color: $help-grey;
}

.text_medium_15_tableblack {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
  color: $table-black;
}

// высота контента для внтурянки

.header__conteiner-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.conteiner__page {
  height: calc(100vh - 50px);
}

// кнопка стандартная синяя

.default-access-btn {
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: $accent-blue;
  color: $white;
}

// контейнер для кнопок

.conteiner__btn {
  display: flex;
  justify-content: flex-end;
}

// контейнер для наполнения страницы

.conteiner__page {
  margin: 0 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

// белое поле в котором все наполняется

.container__content {
  background: $white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

//анимация стрелки открытие и закрытие аккордиона

.arrow-burg {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    color: $icon-gray;
    background-color: $icon-gray;
    display: inline-block;
    transition: all 0.2s ease;
    &:first-of-type {
      left: 0;
      transform: rotate(45deg);
    }
    &:last-of-type {
      right: 0;
      transform: rotate(-45deg);
    }
  }
  &.active {
    span {
      background-color: $accent-blue;
      &:first-of-type {
        transform: rotate(-45deg);
      }
      &:last-of-type {
        transform: rotate(45deg);
      }
    }
  }
}
