@import './_normalize.scss';
@import './_variables.scss';
@import './_transitions.scss';
@import './_fonts.scss';


$iconSize: 20px;
$borderRadius: 3px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue','Segoe UI',helvetica,verdana,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: unset !important;
}

html,
#app {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  line-height: 1.1666666667;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  // height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $table-background;
}

$paddingCell: 5px;
$borderColor: rgba(0,0,0,.3);

.body {
  //display: flex;
  //width: 100%;
  height: 100%;
  display: -webkit-inline-box;
}

.leftbar {
  background-color: #002F55;
  width: 240px;
  height: 100%;
  transition: .3s;
}

.v-main {
  height: calc(100% - $panelHeight);
  //overflow: auto;
  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.v {
  &-table {
    &-button {
      border: 1px solid $borderColor;
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        padding: 5px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-checkbox {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-button {
    display: flex;
    align-items: center;
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  //&-input {
  //  position: relative;
  //  overflow: hidden;
  //  input {
  //    padding: 5px;
  //    border: 1px solid $borderColor;
  //    border-radius: $borderRadius;
  //    outline: none;
  //    max-width: 100%;
  //    width: 100%;
  //  }
  //  svg {
  //    position: absolute;
  //    width: $iconSize;
  //    height: $iconSize;
  //    aspect-ratio: 1;
  //    right: 5px;
  //    top: 50%;
  //    margin-top: calc($iconSize / -2);
  //  }
  //}
  &-icon {
    cursor: pointer;
    &-close {
      transition: .2s;
      &:hover {
        //transform-origin: center center;
        //transform: rotate(180deg);
      }
    }
  }
  &-contextmenu {
    position: fixed;
    width: 0;
    height: auto;
    max-height: 10px;
    //background-color: #fff;
    background-color: var(--v-background-base);
    transition-property: max-height, width;
    transition: width .15s, max-height .15s, border-color .15s;
    transform-origin: right;
    transition-delay: 0s, .25s, .25s, .5s;
    //border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    //padding: $paddingCell 0;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    &-item {
      padding: $paddingCell;
      display: flex;
      align-items: center;
      font-size: 14px;
      transition: .2s;
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,.1);
      }
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;

      }
    }
    &--show {
      width: 200px;
      //height: 100px;
      max-height: 500px;
      //box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
      //border: 1px solid transparent;
      border-color: $borderColor;
    }
    &--hide {
      //display: none;
      //max-height: 1px;
      border-color: transparent;
      padding: 0;
      transition: max-height .15s, width .15s, border-color .15s, padding .075s;
      transition-delay: 0s, .25s, .25s, .45s;
    }
  }
}


.v-alert {
  position: fixed;
  bottom: 10px;
  min-width: 20rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

.height-full {
  height: 100vh;
}

.v-list-item--active {
  .v-icon {
    transition: .2s;
    color: #EF8A3E !important;
  }
}

.v-list-item {
  .v-icon {
    transition: .2s;
    color: rgba(255, 255, 255, 0.4)
  }

  .v-btn {
    .v-icon {
      transition: .2s;
      color: rgba(255, 255, 255, 0.4)
    }
  }

  span {
    transition: .2s;
    color: rgba(255, 255, 255, 1)
  }
}

.background-main {
  background-color: #EF8A3E;
}

.expand {
  &-header {
    // display: flex;
    // width: 100%;
  }
}

.services {
  .v-expansion-panel-header__icon {
    display: none;
  }

  .v-expansion-panel-content__wrap {
    padding: unset;
  }

  .accordion {
    &-btn {
      &.active {
        .accordion {
          &-btn {
            &-icon {
              transform: rotateX(180deg);
            }
          }
        }
      }

      &-icon {
        transition: .25s;
      }
    }
  }
}

.v-application .primary--text {
  color: #EF8A3E !important;
}

.service {
  &-header {
    // justify-content: space-between;

  }
}

.v-image__image--preload {
  background-image: unset !important;
}

.v-application .grey--text.text--lighten-5 {
  height: 100% !important;
  color: #EF8A3E !important;
}

.v-application p {
  margin-bottom: 0;
}

.fluid {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.row {
  margin: 0;
}


.view {
  &-table {
    .v-tabs {
      height: 50px;
      padding: 0 10px 0 10px;
    }
    .v-tabs-items {
      flex: 1;
      display: flex;
      flex-direction: column;
      .v-window__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        .v-window-item {
          flex: 1;
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }
  }
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  //padding: unset;
  padding-top: unset;
  padding-bottom: unset;
}

.v-select.v-select--chips .v-select__selections {
  min-height: 32px;
}

.navbar .v-expansion-panel-content__wrap:hover, .v-list-item:hover {
  font-weight: 400 !important;
}

.v-select {
  .v-select__selections {
    flex-wrap: nowrap;
  }
  .v-chip .v-chip__content {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
  color: rgba(0,0,0,0.7);
}

.v-mails {
  .ql-toolbar {
    border: none !important;
    padding: 0 !important;
  }
  .ql-container {
      border: none !important;
      padding: 0 !important;
  }
  .ql-editor {
      padding: 0 !important;
      min-height: 150px;
  }
  .v-input__slot {
    margin: 0 !important;
  }
  .v-text-field__details {
      display: none !important;
  }
  .v-input__append-inner {
      display: none !important;
  }
  .v-select__selections {
      min-height: 32px !important;
  }
  .v-input__slot {
    cursor: pointer;
    fieldset {
      border-color: var(--v-disabled-base);
    }
  }
  .v-input__prepend-outer {
    display: none;
  }
  .v-text-field__slot {
    cursor: pointer;
    label {
      text-transform: uppercase;
      color: var(--v-disabled-base) !important;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
  .v-menu__content {
    height: 100px !important;
  }
  .v-expansion-panel {
    margin: 0 !important;
  
    &::before {
      box-shadow: none !important;
    }
    &:before {
      box-shadow: none !important;
    }
    .v-icon {
      flex: 0 !important;
    }
    .v-expansion-panel-content__wrap {
      padding: 0 16px;
      flex: 1;
      max-width: 100%;
    }
  }
}